.section {
    margin-left: 40px;
}

.li {
    display: flex;
    align-items:center;
    width: 400px;
    padding: 10px;
}

.list {
    padding: 20px;
    width: 400px;
    list-style: none
    
}

.btn {
    margin-left: 10px;
    width: 60px;
    height: 20px;
    border: solid 1px blueviolet;
    border-radius: 5px;
    cursor: pointer;
}